<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Testing add user</h1>
    <form method="post" action="/add-user">
        <label>Phone</label>
        <input name="phone" type="text" placeholder="Enter your phone">
        <label>Name</label>
        <input name="name" type="text" placeholder="Enter your name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>